/.settings/*

/html-template/*
/bin-debug/*
/bin-release/*
/bin/.htaccess
/bin/*.swc
/bin/*.cache
/bin/.*
/src_server/.htaccess
/src_test/*
dist/*
docs/*
obj/*

.actionScriptProperties
.flexProperties
.flexLibProperties
.FlexUnitSettings
.project

Icon
Thumbs.db
.DS_Store
doc/*

user.properties

*.iml
*.ipr
*.iws